@import '../../styles/colors.scss';


.header{
    background-color: $primary;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-top: 2rem solid $primaryDark;

    img{
        margin-top: 1rem;
        max-width: 6rem;
    }

    h1{
        color: $white;
        margin: 1rem 0;
    }
}